node_modules
*.log
*.log.*
logs
.vscode
dest
dist
coverage
.idea
package-lock.json
.DS_*
.nyc*
!**/fixtures/app/node_modules/hello/*
run/
package-lock.json
.nodejs-cache
AUTHORS
.serverless
.midway
.ncc_entry
.zip
.aliyun_credentials
.env_temp
serverless.zip
/packages/serverless-invoke/test/fixtures/*/build
/packages/serverless-invoke/test/fixtures/**/faas_debug_tmp/
