node_modules
*.log
*.log.*
logs
.vscode
dest
dist
coverage
.idea
package-lock.json
.DS_*
.nyc*
!**/fixtures/app/node_modules/hello/*
run/
package-lock.json
.nodejs-cache
AUTHORS
.serverless
.midway
.ncc_entry
.zip
.aliyun_credentials
.faas_debug_tmp
.env_temp
serverless.zip
/packages/serverless-invoke/test/fixtures/*/build
/packages/serverless-invoke/test/fixtures/**/*faas_debug_tmp/
/packages/faas-util-ts-compile/test/fixtures/files/tmp/*
!/packages/faas-util-ts-compile/test/fixtures/files/tmp/.gitkeep

