#app
  .no-sidebar
    .navbar
      display: none

    .theme-default-content:not(.custom)
      max-width: 100% !important
      padding: 0;

  .top-header
    background-color: var(--wt-color-dark,#27282c) !important
    width: 100%;
    max-width: 100%
    margin-top: 0 !important
    .top-wrapper
      max-width: 740px
      margin: 0 auto
      
      a
        color: #fff 
      .logo-wrapper
        display: inline-block;
        .logo
          max-width: 70px !important
      .pull-right
        float: right

  .default-content
    max-width: 740px
    margin: 0 auto;
    padding: 2rem 2.5rem;

// background-color: var(--wt-color-dark,#27282c) !important