.home
  max-width: none;
  padding: 0;
  .hero
    background-image: url("https://img.alicdn.com/tfs/TB1k7wKbhYaK1RjSZFnXXa80pXa-1920-910.png");
    background-position: 50% 10%;
    padding: 6rem 0;
    h1
      font-size: 6rem;
      color: #fff;
  .features, .custom
    padding: 3.6rem 2rem 0;
    max-width: 1136px;
    margin: 0 auto;
    //color: #B8BFBB;
  .hero .description
    color: #B8BFBB;
  .footer
    max-width: 1136px;
    margin: 0 auto;
    border: 0;
    padding: 0 0 2.5rem 0;
  .feats
    margin-top: 100px;
    text-align: center;
    h2
      font-size: 2rem;
      text-align: center;
      border-color: #da5a47;
      display: inline-block;
    h3
      font-size: 1.4rem;
    .item
      font-size: 0;
    .col
      text-align: left;
      flex-grow: 1;
      flex-basis: 50%;
      max-width: 50%;
      width: 50%;
      display: inline-block;
      font-size: 14px;
      vertical-align: middle;
      p
        font-size: 1.0rem;
        color: #666;
        line-height: 2;
  .footer-container
    margin: 3.6rem 0 1rem 0;
    padding: 1.6rem 2rem;
    //max-width: 1136px;
    //width: 100%;
    //border-top: 1px solid #eaecef;
    background-color: #eaecef;
    .col
      flex-grow: 1;
      flex-basis: 20%;
      max-width: 20%;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      width: 20%;
    dt
      font-weight: bold;
      font-size: 18px;
      color: #333;
      margin-bottom: 20px;
    dd
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.6;
    .right
      flex-basis: 40%;
      max-width: 40%;
      width: 38%;
      dd
        display: inline-block;
        margin-right: 10px;
        width: 32px;
