.home
  background-image: url("https://img.alicdn.com/tfs/TB1OqMDa7voK1RjSZFNXXcxMVXa-1867-879.png")
  max-width: none;
  p
    color: #fff;
  .hero h1
    font-size: 6rem;
    color: #fff;
  .features, .custom, .footer
    max-width: 960px;
    margin: 0 auto;
    color: #B8BFBB;
  .hero .description
    color: #B8BFBB;
  .feature h2
    font-size: 1.5rem;
    color: #fff;
  .feature p
    color: #B8BFBB;
