name: Pre Check

on:
  push:
    branches: [v4-next]
    paths-ignore:
      - 'site/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'site/**'
      - '*.md'

jobs:
  lintAndTestLegacy:
    timeout-minutes: 60
    strategy:
      matrix:
        node-version: ['lts/*']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Git checkout
      uses: actions/checkout@v4

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9.6.0
        run_install: false

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - run: ./scripts/ci
    - run: pnpm build --if-present
    - run: pnpm lint
    - run: pnpm lint:cycle
